body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.container {
  height: 90vh;
  margin: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.menu_container {
  height: 180vh;
  margin: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
.cell-1 {
  background: deepskyblue;
}
.cell-2 {
  background: orangered;
}
.cell-3 {
  background: royalblue;
}
.cell-4 {
  background: gold;
}

.cell-1:hover {
    background-color: #66d9ff
    color: white;
  }
.cell-2:hover {
    background-color: #ff7c4d
    color: white;
  }
.cell-3:hover {
    background-color: #6585e7
    color: white;
  }
.cell-4:hover {
    background-color: #ffe44d
    color: white;
  }

button {
  border: 0px solid #c4c4c4;
  font-size: 2rem;
  margin: 0;
}
